<div class="container">
    <h1 class="my-5">Update Inventory Item</h1>

  <!-- START of card -->
  <div class="card">
    <div class="card-body">
      <form action="/inventory/update-action" method="POST">
        <!-- NOTE: uncomment input when you're working on the API  and add the EJS-->
        <!-- <input name="id" value="" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
        <input name="id" value="<%= inventory.id %>" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        <div class="form-group">
          <label for="inventory-view-factoryID">Factory</label>

            <input required disabled value="<%= inventory.factoryID.factoryLocation %>" type="text" class="form-control"  id="inventory-view-factoryID" >

          </div>

        <!-- END of Searchable Dropdown -->

        <!-- START of Searchable Dropdown FOR CheeseID -->
        <div class="form-group">
          <label for="inventory-view-cheeseID">Cheese Type</label>

            <input required disabled value="<%= inventory.cheeseID.cheeseName %>" type="text" class="form-control" id="inventory-view-cheeseID" >

        </div>
        <!-- END of Searchable Dropdown -->

        <div class="form-group">
          <label for="inventory-view-quantity-initial">Quantity in Stock</label>
          <input  name="stock" value="<%= inventory.stock %>" type="number" class="form-control" id="inventory-view-quantity-initial" placeholder="Enter how much stock you're adding to stock"></input>
        </div>

        <!-- CSRF Token  -->
        <!-- <input type="hidden" name="_csrf" value='<%= _csrf %>'> -->

        <div class="mt-5 mb-3">
          <button type="submit" class="btn btn-primary">Update</button>

        </div>

      <!-- </div> -->

    </form>
    <form action="/Inventory/archive-action" method="POST">
      <input name="id" value="<%= inventory.id %>" type="hidden" class="form-control">
      <button type="submit" class="btn btn-danger">Archive Record</button>
    <!-- CSRF Token  -->
    <!-- <input type="hidden" name="_csrf" value='<%= _csrf %>'> -->
    </div>
    </form>
    </div>
  <!-- END of card -->

</div>

<!-- START of card -->
<!-- END of card -->
