<div class="container">

  <div class="invoice-heading mt-1 my-5">
    <h1 class="mt-3">Invoice</h1>
    <a class='btn-invoice-edit'href="#"><button class="btn btn-success mb-3 mt-3" data-toggle="modal" data-target="#add-invoice" type="button" name="button">Create a New Inventory Record</button></a>
  </div>

<!-- START of card -->

  <% invoices.forEach( invoice => { %>
    <div class="card">
    <div class="card-body">
      <div class="invoice-heading ">
        <h2>invoiceID #<%=invoice.id%></h2>
        <div class="d-flex align-items-center mb-3 ml-3">
          <p></p>
        </div>
      </div>
      <!-- START of invoice details table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cheese Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% invoice.invoiceItemID.forEach( invoiceItem => { %>
            <tr>
              <td></td>
              <td><% for(let i = 0; i< cheeses.length; i++) {
                if ( cheeses[i].id == invoiceItem.cheeseID ) { %>
                  <%-cheeses[i].cheeseName%>
                <%}
              } %></td>
              <td><%= invoiceItem.quantity %></td>
              <td><%= invoiceItem.price %></td>
              <td><%= invoiceItem.price * invoiceItem.quantity %></td>
            </tr>

          <% }) %>
        </tbody>
      </table>
        <!-- END of invoice details table -->
        <div class="container">
          <div class="float-right">
            <div class="totally row">
              <div class="col h5 mr-3">
                <div class="row">
                  <strong>Total</strong>
                </div>
                <div class="row">
                  (LKR)
                </div>
              </div>
              <div class="col  h5">
                <strong>Rs.<%- invoice.total%></strong>
              </div>
            </div>
          </div>
        </div>

  <% }) %>

    <!-- END of card body -->
  </div>
</div>

<!-- END of card -->

<!-- START of myModal -->
<div id="add-invoice" class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">New Invoice</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form action="invoice/add-action" method="POST">

         <div class="container">
           <div class="row mb-4">
             <input required value="[]" type="hidden" name="invoiceItemsArray" id="invoice-view-invoiceItemsArray" >
             <input required value="[]" type="hidden" name="invoiceItemsID" id="invoice-view-invoiceItemsID" >

             <!-- NOTE:: Only show factory if the user is authenticated to. Double check this on the server side -->
             <div class="col">
               <div class="form-group">
                 <label for="invoice-view-factoryID">Factory</label>
                 <div class="ui fluid search selection dropdown">
                   <input required value="" type="hidden" name="factoryID" id="invoice-view-factoryID" >
                   <i class="dropdown icon"></i>
                   <div class="default text">Select a Factory</div>
                   <div class="menu">
                     <% factories.forEach( factory => { %>
                       <div onclick="retrieveCheese(<%=factory.id%>)"class="item" value="<%=factory.id%>" data-value="<%=factory.id%>"> <%=factory.factoryLocation%></div>
                     <% }) %>
                   </div>
                 </div>
               </div>
               <div id='invoice-view-factoryID-error' class="invalid-input mb-4 hidden">
                Please provide a Factory
              </div>
             </div>

             <div class="col">
               <div class="form-group">
                 <label for="invoice-view-cheeseID">Cheese Type</label>
                 <div class="ui fluid search selection dropdown">
                   <input required value="" type="hidden" name="cheeseID" id="invoice-view-cheeseID" >
                   <i class="dropdown icon"></i>
                   <div class="default text">Select a Cheese Type</div>
                   <div class="menu" id="cheese-dropdown">

                   </div>
                 </div>

               </div>
               <div id='invoice-view-cheeseID-error' class="invalid-input mb-4 hidden ">
                Please provide a Cheese Type
              </div>
             </div>

             <div class="w-100"></div>

             <div class="col">
               <div class="form-group">
                 <label for="invoice-view-quantity-initial">Quantity</label>
                 <input required value="" name="quantity"  type="number" class="form-control" id="invoice-view-quantity" placeholder="Enter how much stock you're adding to stock"></input>
               </div>
               <div id='invoice-view-quantity-error' class="invalid-input mb-4 hidden">
                Please provide a Quantity
              </div>
             </div>

             <div class="col">
               <div class="form-group">
                 <label for="invoice-view-quantity-initial">Price</label>
                 <input required value="" name="Price"  type="number" class="form-control" id="invoice-view-price" placeholder="Enter how much stock you're adding to stock"></input>
               </div>
               <div id='invoice-view-price-error' class="invalid-input mb-4 hidden">
                Please provide a Price
              </div>
             </div>

             <div class="w-100"></div>

             <div class="col ">
               <button onclick="addInvoiceItem()"class=" col btn btn-outline-info mb-3 w-50 mt-3" type="button" name="button">Add Item</button>
             </div>

             <div class="col"></div>

           </div>
         </div>



          <!-- START of Searchable Dropdown FOR FactoryID -->

          <!-- END of Searchable Dropdown -->

          <!-- START of Searchable Dropdown FOR CheeseID -->

          <!-- END of Searchable Dropdown -->

            <!--PSEUDO FOR CUSTOM COMPONENT

            - Im going to draw in text what the modal should look like
              _____________________________________________________
            - | Factory : Select Factory | Cheese : Select Cheese |
            - | Qty : Input QTY          | Price : Input Price    |
            _ _____________________________________________________
              < ADD ITEM BUTTON >

            - On Button clicked run addInvoiceItem() function
            - Takes params. and do Validation
            - if ( validated )
              - add param object to invoiceItemsArray
              - run generateRow( invoiceItemsArray ) function
            -

          -->

          <!-- START of invoice details table -->
          <table id='addItemTable' class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cheese Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody id='addItemTable-body'>
              <!-- new items get added here -->
            </tbody>
          </table>
            <!-- END of invoice details table -->
            <div class="container">
              <div class="float-right">
                <div class="totally row">
                  <div class="col h5 mr-3">
                    <div class="row">
                      <strong>Total</strong>
                    </div>
                    <div class="row">
                      (LKR)
                    </div>
                  </div>
                  <div id="total-control"class="col  h5">
                    <strong>Rs.</strong>
                  </div>
                </div>
              </div>
            </div>


          <!-- END of container -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit New Record</button>
          <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">Close</button>
        </div>

        <!-- CSRF Token  -->
        <input type="hidden" name="_csrf" value='<%= _csrf %>'>

    </form>
  </div>
</div>
</div>
<!-- END of myModal -->
</div>

<!-- START of card -->
<!-- END of card -->
